
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_innerLayout.cshtml";
}

<br />
 @if (TempData["msg"]!=null)
     {
        <span class="alert alert-info">@TempData["msg"]</span>
     }

<h2>Index</h2>


