
@{
    ViewBag.Title = "Education";
}

<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-primary" href="/profile/education">Education</a>
<a class="btn btn-primary" href="/profile/projects">Projects</a>
<a class="btn btn-primary" href="/profile/references">References</a>

<h2>Education</h2>

<ul>
    HSC :
    <li>Institute : Scholarshome College Sylhet</li>
    <li>Year : 2018</li>
    <li>Group : Science</li>
    <li>Result : 4.00</li>
</ul>
<ul>
    SSC :
    <li>Institute : Moulvibazar Govt. High School</li>
    <li>Year : 2016</li>
    <li>Group : Science</li>
    <li>Result : 4.67</li>
</ul>
