
@{
    ViewBag.Title = "Home";
}

<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-primary" href="/profile/education">Education</a>
<a class="btn btn-primary" href="/profile/projects">Projects</a>
<a class="btn btn-primary" href="/profile/references">References</a>

<h1>Name : @ViewBag.Name</h1>
<h1>ID : @ViewBag.Id</h1>
<h1>Email : @ViewBag.Email</h1>
<h1>Contect No : @ViewBag.ContNo</h1>
