
@{
    ViewBag.Title = "Projects";
}

<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-primary" href="/profile/education">Education</a>
<a class="btn btn-primary" href="/profile/projects">Projects</a>
<a class="btn btn-primary" href="/profile/references">References</a>

<h2>Projects</h2>

<table class="table table-bordered">
    <tr>
        <th>Course </th>
        <th>Title</th>
        <th>Dec</th>
    </tr>
    <tr>
        <td>OOP1 </td>
        <td>University Management System</td>
        <td>The system will Help to manage the university student, teacher,stalffs,Salary etc.</td>
    </tr>
    <tr>
        <td>OOP2 </td>
        <td>Library Management System</td>
        <td>The system will Help to manage the Library Booklist,stalffs,Salary etc.</td>
    </tr>
    <tr>
        <td>WT </td>
        <td>Hospital Management System</td>
        <td>The system can Help to manage the Hospital's Doctor, Patients,stalffs,Salary etc.</td>
    </tr>
</table>

