
@{
    ViewBag.Title = "References";
}

<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-primary" href="/profile/education">Education</a>
<a class="btn btn-primary" href="/profile/projects">Projects</a>
<a class="btn btn-primary" href="/profile/references">References</a>

<h2>References</h2>

<ol>
    <li>@ViewBag.R1</li>
    <li>@ViewBag.R2</li>
</ol>