
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<h3>@ViewBag.Name</h3>

<table>
    @foreach (string n in ViewBag.Names)
    {
        <tr>
            <td>@n</td>
        </tr>
    }
    
</table>

