
@{
    ViewBag.Title = "Home";
}



<h2>ABC Global</h2>
<un>
    <h2>Name : @ViewBag.Name</h2>
    <h2>Address : Kuril Biswaroad</h2>
    <h2>Email : abcglobal@gmail.com</h2>
    <h2>Desc : ABC Globa is a software development company.</h2>
</un>

