
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cleint</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.project[0]</td>
            <td>MR.Korim</td>
        </tr>
        <tr>
            <td>@ViewBag.project[1]</td>
            <td>MR.Rohim</td>
        </tr>
        <tr>
            <td>@ViewBag.project[2]</td>
            <td>MR.Jack</td>
        </tr>
    </tbody>

</table>
